doctype
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title TSG麻雀対戦ログ
		style
			include node_modules/bulma/css/bulma.css
	body
		section.hero.is-primary
			.hero-body
				.container
					h1.title TSG麻雀対戦ログ
		section.section
			.container
				h1.title ランキング
				hr
				table.table.is-striped
					thead
						tr
							th #
							th 名前
							th 収支 (錯和含)
							th 平均点
							th 和了率
					tbody
						each rank, index in ranking
							tr
								th= index + 1
								td
									if rank.user
										img(src=rank.user.profile.image_24, style='vertical-align: bottom')
										= ` @${rank.user.name}`
								td
									strong= `${(rank.balance > 0) ? '+' : ''}${rank.balance.toLocaleString('latn')}`
									= ` (${(rank.balanceWith錯和 > 0) ? '+' : ''}${rank.balanceWith錯和.toLocaleString('latn')})`
								td= `${(rank.balance > 0) ? '+' : ''}${Math.floor(rank.balance / rank.配牌Count).toLocaleString('latn')}`
								td= `${(rank.和了Count / rank.配牌Count * 100).toFixed(2)}% (${rank.和了Count}/${rank.配牌Count})`
		section.section
			.container
				h1.title 和了役統計
				hr
				table.table.is-striped
					tbody
						each yaku in 役s
							tr
								th= yaku[0]
								td= yaku[1]
		section.section
			.container
				h1.title 対戦履歴
				hr
				p= `和了率 ${(和了Count / results.length * 100).toFixed(2)}% (${和了Count}/${results.length})`
				table.table.is-striped
					thead
						tr
							th 日時
							th 配牌者
							th 最終手牌
							th 結果
							th 得点
					tbody
						each result in results
							tr
								td(style='width: 12em')= result.time.toLocaleString('japanese', {timeZone: "Asia/Tokyo"})
								td
									if result.配牌者
										img(src=result.配牌者.profile.image_24, style='vertical-align: bottom')
										= ` @${result.配牌者.name}`
								td
									img(src=result.手牌, width='450')
								td= result.result
								td
									= `${(result.point > 0) ? '+' : ''}${result.point.toLocaleString('latn')}`
									if result.point === 12000
										span.tag.is-info 満貫
									if result.point === 18000
										span.tag.is-success 跳満
									if result.point === 24000
										span.tag.is-danger 倍満
									if result.point === 36000
										span.tag.is-black 三倍満
									if result.point === 48000
										span.tag.is-black.is-large 役満
